<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>NSSupportsAutomaticGraphicsSwitching</key>
	<true/>
	<key>NSMicrophoneUsageDescription</key>
	<string>Snack 需要访问麦克风，以录制会议中的发言。</string>
	<key>NSScreenCaptureUsageDescription</key>
	<string>Snack 需要访问系统音频，以完整记录线上会议。</string>
</dict>
</plist>
